@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #36393f;
}

header{
    background: #c4c4c2;
    padding: 40px;
}

h1{
    text-align: center;
    font-family: 'Roboto';
    font-size: 60px;
}

#contenedor{
    width: 2000px;
    height: auto;
    margin: auto;
}

.marcador{
    width: 1000px;
    height: 300px;
    margin: 5% auto;
    display: flex;
}

.jugador{
    font-size: 50px;
    text-align: center;
    padding-top: 7%;
    font-style: italic;
    color: gray;
}

#usuario{
    font-size: 250px;
    width: 250px;
    text-align: center;
    font-style: italic;
    color: #45e9ff;
}

#separador{
    font-size: 200px;
    text-align: center;
    color: gray;
    font-style: italic;
    width: 100px;
}

#IA{
    font-size: 250px;
    width: 250px;
    text-align: center;
    font-style: italic;
    color: #ff30d6;
}

#resultado{
    font-size: 70px;
    color: gray;
    font-style: italic;
    text-align: center;
}

.contenedorBotones{
    display: flex;
    width: 2000px;
    height: 600px;
    margin: 5% auto;
}

.boton{
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin: 20px 60px;
    position: relative;
    border: white solid;
    border-width: 10px;
    box-shadow: 20px 20px 30px black;
}

#piedra{
    position: absolute;
    top: 0;
    margin-left: 120px;
    margin-top: 65px;
    filter: drop-shadow(20px 15px 9px black);
}

#papel{
    position: absolute;
    top: 0;
    margin-left: 120px;
    margin-top: 95px;
    filter: drop-shadow(20px 15px 9px black);
}

#tijeras{
    position: absolute;
    top: 0;
    margin-left: 120px;
    margin-top: 50px;
    filter: drop-shadow(20px 15px 9px black);
}

.boton:hover{
    background-color: #202225;
    border-color: #4b99a3;
}

/*correcto e incorrecto se usan para colorear 
el borde del boton*/
.correcto{
    border-color: #4ba386;
}

.incorrecto{
    border-color: #a34862;
}